body{
	margin:0;
	padding:0;
}
.form-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('Marksheet_bg.jpg');
  background-position: center;
  background-size: cover;
  max-width: 1000px;
  width:90%;
  margin: 60px auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  text-align:left;
}
.sub{
	border-collapse:collapse;
	border:2px solid black;
	display:table-cell;
	width:auto;
}
.mark-table, 
.bottom-info,.name {
    width: 100%;       
    max-width: 900px;  
    margin: 20px auto; 
    table-layout: fixed; 
    border-collapse: collapse;
}
.mark-table th, .bottom-info th,.name th,.name td {
    border: 1px solid black;
    padding: 10px;
    word-wrap: break-word; 
}
.School{
	width:400px;
}
.sub{
	border:2px solid black;
}
.tot
{
	border:2px solid black;
	padding-top:10px;
	padding-bottom:10px;
}
.element th,.element td{
	padding-top:10px;
	padding-bottom:10px;
}
tr,td{
	border :2px solid black;
}
.space{
	border:2px solid black;
	margin:30px auto 30px auto;
}
